<div>
  <div *ngFor="let background of currentBackgroundsTpl">
    <input type="button" (mouseup)="updateInfo($event.target.value)" value="{{background.name}}">
  </div>
  <div *ngFor="let background of currentBackgroundsTpl">
     <div *ngIf="background.name == currentBackground">
      Overview: {{background.overview || "none"}}
      <!-- Skills -->
      <div>
        <div>Skills Proficiencies: 
          <span *ngFor="let skill of background.skills.skillProficiencies">
              {{skill}}
          </span>
        </div>
        <!-- Skills - Tools -->
        <div *ngIf="background.skills.toolProficiencies">
          <ul *ngFor="let tools of background.skills.toolProficiencies; let i = index;">
            <li *ngFor="let singleTool of tools">
                {{singleTool}}
            </li>
          </ul>
        </div>
        <div>
          <span *ngFor="let language of background.skills.languages; let i = index">
            <span *ngIf="i == 0">Languages: {{language}} of your choice</span>
            <span *ngIf="i == 1">Plus</span>
            <span *ngIf="i != 0">{{language}}</span>
          </span>
        </div>
      </div>

      <!-- Traits -->
      <div>
        <div *ngIf="background.traits">
          <div>Trait: {{background.traits.name || "No special traits"}}</div>
          <div *ngIf="background.traits.trait">
            <span>Trait name: {{background.traits.trait.name}}</span>
            <ol><li *ngFor="let traitInfo of background.traits.trait.traits" (mouseup)="selectTrait($event.target.innerText)">
                {{traitInfo}}
              </li></ol>
          </div>
          <div *ngIf="background.traits.item">
            <span>Item name: {{background.traits.item.name}}</span>
            <ol><li *ngFor="let itemInfo of background.traits.item.items" (mouseup)="selectTrait($event.target.innerText)">
              {{itemInfo}}
            </li></ol>
          </div>
        </div>
      </div>

      <!-- Characteristics -->
      <div>
        <div>Characteristics: {{background.characteristics.description}}</div>
        <div class="dropdown">
          <span>Personality</span>
          <ol><li *ngFor="let personality of background.characteristics.traits.personalitys; let i = index" (mouseup)="selectCharacteristic($event.target.innerText)">
            {{personality}}
          </li></ol>
          <div></div>
        </div>
        <div>
          <span>Ideal</span>
          <ol><li *ngFor="let ideal of background.characteristics.traits.ideals; let i = index" (mouseup)="selectCharacteristic($event.target.innerText)">
            {{ideal}}
          </li></ol>
        </div>
        <div>
          <span>Bond</span>
          <ol><li  *ngFor="let bond of background.characteristics.traits.bonds; let i = index" (mouseup)="selectCharacteristic($event.target.innerText)">
            {{bond}}
          </li></ol>
        </div>
        <div>
          <span>Flaw</span>
          <ol><li *ngFor="let flaw of background.characteristics.traits.flaws; let i = index" (mouseup)="selectCharacteristic($event.target.innerText)">
            {{flaw}}
          </li></ol>
        </div>

    </div>
  </div>
</div>