<div>
  <div *ngFor="let background of currentBackgroundsTpl">
    <input type="button" (mouseup)="updateInfo($event.target.value)" value="{{background.name}}">
  </div>
  <div *ngFor="let background of currentBackgroundsTpl">
     <div *ngIf="background.name == currentBackground">
      Overview: {{background.overview || "none"}}
      <!-- Skills -->
      <div>
        <div>Skills Proficiencies: 
          <span *ngFor="let skill of background.skills.skillProficiencies">
              {{skill || "none"}}
          </span>
        </div>
        <div *ngIf="background.skills.toolProficiencies">
          <ul *ngFor="let tools of background.skills.toolProficiencies; let i = index;">
            <li *ngFor="let singleTool of tools">
                {{singleTool}}
            </li>
          </ul>
        </div>
        <div>
          <span *ngFor="let language of background.skills.languages; let i = index">
            <span *ngIf="i == 0">Languages: {{language}} of your choice</span>
            <span *ngIf="i == 1">Plus</span>
            <span *ngIf="i != 0">{{language}}</span>
          </span>
        </div>
      </div>

      <!-- Traits -->
      <div>
        <div *ngIf="background.traits">
          <div>Trait: {{background.traits.name || "No special traits"}}</div>
          <div *ngIf="background.traits.trait">
            <div>Trait name: {{background.traits.trait.name}}</div>
            <div>
              <input type="button" value="{{currentTrait}}" (click)="showHideTraits()"> 
              <ol *ngIf="displayTraits">
                <li *ngFor="let traitInfo of background.traits.trait.traits" (mouseup)="selectTrait($event.target.innerText)">{{traitInfo}}</li>
              </ol>
            </div>
          </div>
          <div *ngIf="background.traits.item">
            <div>Item name: {{background.traits.item.name}}</div>
            <div>                  
              <input type="button" value="{{currentTrait}}" (click)="showHideTraits()"> 
              <ol *ngIf="displayTraits">
                <li *ngFor="let itemInfo of background.traits.item.items" (mouseup)="selectTrait($event.target.innerText)">{{itemInfo}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Characteristics -->
      <div>
        <div>Characteristics: {{background.characteristics.description}}</div>
        <div class="dropdown">
          <input type="button" value="{{currentCharacteristics.currentPersonality}}" (click)="showHideCharacteristics('currentPersonality')"> 
          <ol *ngIf="displayCharacteristics.currentPersonality">
            <li *ngFor="let personality of background.characteristics.traits.personalitys; let i = index" (mouseup)="selectCharacteristic($event.target.innerText, 'currentPersonality')">
              {{personality}}
            </li>
          </ol>
          <div></div>
        </div>
        <div>
          <input type="button" value="{{currentCharacteristics.currentIdeal}}" (click)="showHideCharacteristics('currentIdeal')"> 
          <ol *ngIf="displayCharacteristics.currentIdeal">
            <li *ngFor="let ideal of background.characteristics.traits.ideals; let i = index" (mouseup)="selectCharacteristic($event.target.innerText, 'currentIdeal')">
              {{ideal}}
            </li>
          </ol>
        </div>
        <div>
          <input type="button" value="{{currentCharacteristics.currentBond}}" (click)="showHideCharacteristics('currentBond')"> 
          <ol *ngIf="displayCharacteristics.currentBond">
            <li  *ngFor="let bond of background.characteristics.traits.bonds; let i = index" (mouseup)="selectCharacteristic($event.target.innerText, 'currentBond')">
              {{bond}}
            </li>
          </ol>
        </div>
        <div>
          <input type="button" value="{{currentCharacteristics.currentFlaw}}" (click)="showHideCharacteristics('currentFlaw')">  
          <ol *ngIf="displayCharacteristics.currentFlaw">
            <li *ngFor="let flaw of background.characteristics.traits.flaws; let i = index" (mouseup)="selectCharacteristic($event.target.innerText, 'currentFlaw')">
              {{flaw}}
            </li>
          </ol>
        </div>

    </div>
  </div>
</div>