/* You can add global styles to this file, and also import other style files */

html {
    font-size: 16px;
}

#pageContainer

    display: flex;

    > * {
        width: 50%;
    }

    section 
        border: 1px solid black;
        padding: 10px;
        margin: 10px;


